<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="com.qa.openCart.test" verbose="4" thread-count="3" parallel="tests">

	<listeners>
		<!--<listener class-name="com.aventstack.chaintest.plugins.ChainTestListeners" />-->
		<listener class-name="com.qa.openCart.listeners.TestAllureListener" />
		<listener class-name="com.qa.openCart.listeners.AnnotationTransformer" />
	</listeners>

	<test name="Login Page Test_chrome">
		<parameter name="browser" value="chrome" />
		<parameter name="browserVersion" value="126.0" />
		<parameter name="testname" value="Login Page Test" />
		<classes>
			<class name="com.qa.openCart.test.LoginPageTest" />
		</classes>
	</test>

	<test name="Account Page_firefox">
		<parameter name="browser" value="firefox"></parameter>
		<parameter name="browserVersion" value="100.0" />
		<parameter name="testname" value="Account Page Test" />

		<classes>
			<class name="com.qa.openCart.test.AccountPageTest" />
		</classes>
	</test>

	<test name="Search Page_chrome">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="browserVersion" value="123.0" />
		<parameter name="testname" value="Search Page Test" />

		<classes>
			<class name="com.qa.openCart.test.SearchTest" />
		</classes>
	</test>

	<test name="ProductInfo Page Test_Chrome">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="browserVersion" value="126.0" />
		<parameter name="testname" value="ProductInfo Page Test" />

		<classes>
			<class name="com.qa.openCart.test.ProductInfoPageTest" />
		</classes>
	</test>
	<test name="Register Page Test_chrome">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="browserVersion" value="123.0" />
		<parameter name="testname" value="Register Page Test" />

		<classes>
			<class name="com.qa.openCart.test.RegisterPageTest" />
		</classes>
	</test>
</suite>